<% include partials/header %>
   <%if (err) {%>
        <div style="color:red"><%=err%></div>
        <hr/>
   <%} %>
   <form method="POST" action="/songs">
        <% include _formSong %>
        <input class="btn btn-primary" type="submit"/>
   </form>
<% include partials/footer %>